/* You can add global styles to this file, and also import other style files */



.btn-primary{
    color: white !important;
    background-color: #7D8AC4 !important;
    border-color: #7D8AC4 !important;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: bold;
}

/* @font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('fonts/MiFuentePersonalizada.woff2') format('woff2'),
         url('fonts/MiFuentePersonalizada.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiFuentePersonalizadaNegrita';
    src: url('fonts/MiFuentePersonalizadaNegrita.woff2') format('woff2'),
         url('fonts/MiFuentePersonalizadaNegrita.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
