/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
}

.logo {
  max-width: 150px; 
  height: auto;
  
  
}
.logo-left {
  max-width: 170px; 
  height: auto; 
  margin-left: 100px;
}

.logo-right {
  max-width: 40px; 
  height: auto;
  margin-right: 100px;
}

/* Main Container Styles */
main {
  display: flex;
  height: calc(100vh - 60px); /* Ajusta según la altura del header */
  padding: 20px;
}

.content-wrapper {
  display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

/* Video Section Styles */
.video-section {
  flex: 1;
  text-align: center;
  margin-left: 70px;
  margin-top: 120;
}
.video {
  width: 100%;
  max-width: 300px; 
  height: 400px;
  border-radius: 8px;
  margin-left: 30px;
}
/* Question Section Styles */
.question-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px; /* Espacio entre ejercicio y botones */
  margin-left: 90px;
}

.question {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button4 {
  background-color: #ffffff; /* Fondo blanco */
  color: #262525; /* Color del texto */
  font-size: 20px;
  font-weight: bold;
  border: 5px solid #a3a2a2; 
  padding: 20px 150px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */

}

button.correct {
  background-color: #7eed98; /* Fondo verde claro */
  border-color: #73dd8c; /* Contorno verde claro */
}

button.incorrect {
  background-color: #f26c77; 
  border-color: #dd5b68; 
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
}


.button-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 35px;
  margin-right: 50px;
}

.got-it-button, .next-button {
  background-color: #39D57F;
  border: none;
  padding: 13px 25px; 
  font-size: 17px; 
  font-weight: bold; 
  border-radius: 10px; 
  cursor: pointer;
  margin: 10px 0;
  color: white; 
  transition: background-color 0.3s ease;
  width: 100%; 
  max-width: 200px; 
  text-align: center; 
}

.got-it-button:hover {
  background-color: #2bb96b;
}

.next-button {
  background-color: #008b8b;;
}

.next-button:hover {
  background-color: #26a5a5;
}


.next-button:disabled {
  background-color: #cccccc; /* Color para el botón deshabilitado */
  cursor: not-allowed;
}

.got-it-button:hover,
.next-button:hover {
  opacity: 0.9;
}

/* Final Page Styles */

.colores {
  font-size: 1.2em;
  margin: 5px 0;
}

.button-sectio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

.restart-button,
.next-lesson-button {
  background-color: #007bff; /* Cambia el color del botón según tu diseño */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.restart-button:hover,
.next-lesson-button:hover {
  opacity: 0.9;
}

.footer {
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
  margin-top:-110px;
}

.progress-bar {
  width: 100%;
  height: 15px; 
  background-color: #afacac;
  border-radius: 12px; 
  overflow: hidden;
  margin-top: 20px;
}

.progress {
  width: 0%; 
  height: 100%;
  background-color: #008b8b;
  border-radius: 12px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

/* Asegúrate de que el contenedor final-page ocupe toda la pantalla */
.full-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  width: 100vw;  /* Ocupa el 100% del ancho de la ventana */
  text-align: center;
  padding: 20px;
  margin-top: -70px;
}

.Titulo_Leccion {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
   font-family: League Spartan; 

}

.celebration-image {
  width: 150px; 
  margin-bottom: 20px;
}

.colors-learned {
  font-size: 20px; 
  color: #3f3e3e; 
  margin: 20px 0; 
}

.colores1 {
  font-size: 20px;
  color: #3befa7;
  font-weight: bold;
  margin-bottom: 20px; 
}
.colores2 {
  font-size: 20px;
  color: #eb5343;
  font-weight: bold;
  margin-bottom: 20px; 
}

.divider {
  border: 0;
  border-top: 1px solid #4b4242;
  margin: 20px 0; 
  width: 60%; 
}

.button-sectio {
  display: flex;
  justify-content: center; 
  gap: 20px;
}

.restart-button, .next-lesson-button {
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  border-radius: 25px; 
  cursor: pointer;
  color: black;
  border: none;
  transition: background-color 0.3s ease;
}

.restart-button {
  background-color: #FFFF00; 
}

.restart-button:hover {
  background-color: #f8ec47; 
}

.next-lesson-button {
  background-color: #008b8b; /* Color azul para el botón siguiente */
}

.next-lesson-button:hover {
  background-color: #006767; 
}
.no-progress {
  display: none; 
}
.cajaDetexto {
  background-color: #ffffff; /* Fondo blanco */
  color: #262525; /* Color del texto */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 5px solid #a3a2a2; 
  padding: 20px 150px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
}

.correct-input {
  border: 3px solid #39D57F;
 
}

.incorrect-input {
  border: 3px solid rgb(223, 93, 93);
}

.enviar2{
  background-color: #3082d4;
  border: none;
  padding: 13px 25px; 
  font-size: 19px; 
  font-weight: bold; 
  border-radius: 10px; 
  cursor: pointer;
  margin: 10px 0;
  color: white; 
  transition: background-color 0.3s ease;
  width: 100%; 
  max-width: 200px; 
  text-align: center; 
}
.default-input {
  border: 2px solid gray; /* Color de borde por defecto */
}
.image-section {
  flex: 1;
  text-align: center;
  margin-left: 70px;
}

.image {
  max-width: 110%;
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}