.profile {
    text-align: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  input[type="file"] {
    margin-top: 15px;
  }
  
  button {
    margin-top: 10px;
  }
  