body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
title{
    font-family: League Spartan; 
}
.container {
    width: 90%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
}

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
  }

.logo {
    max-width: 150px; 
    height: auto;
    
    
}
.logo-left {
    max-width: 170px; 
    height: auto; 
    margin-left: 100px;
}
  
  .logo-right {
    max-width: 40px; 
    height: auto;
    margin-right: 100px;
  }

.main-content {
    display: flex;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.video-section {
    flex: 1;
    text-align: center;
    margin-left: 70px;
}

.video {
    width: 100%;
    max-width: 500px; 
    height: 400px;
    border-radius: 8px;
    margin-left: 20px;
}

.info-section {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.title {
    font-size: 45px;
    color: black;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    font-family: League Spartan; 
}

p {
    text-align: justify; 
    font-family: "Montserrat", sans-serif;
}

.mancha {
    width: 190px; 
    height: 150px;
    display: block;
    margin: 8px auto;
    align-items: center;
}

.instruction {
    font-size: 16px;
    color: #201f1f;
}

.button-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 35px;
    margin-right: 10px;
}

.got-it-button, .next-button {
    background-color: #39D57F;
    border: none;
    padding: 13px 25px; 
    font-size: 17px; 
    font-weight: bold; 
    border-radius: 10px; 
    cursor: pointer;
    margin: 10px 0;
    color: white; 
    transition: background-color 0.3s ease;
    width: 100%; 
    max-width: 200px; 
    text-align: center; 
}

.got-it-button:hover {
    background-color: #2bb96b;
}

.next-button {
    background-color: #008b8b;;
}

.next-button:hover {
    background-color: #26a5a5;
}

.footer {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 15px; 
    background-color: #afacac;
    border-radius: 12px; 
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    width: 20%; 
    height: 100%;
    background-color: #008b8b;
    border-radius: 12px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.Titulo_Leccion{
text-align: center;
font-weight: bold;
}

.page-finished {
    overflow: hidden; 
}

.final-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.055);
    transform: translateY(-125px); 
}

.Titulo_Leccion {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
     font-family: League Spartan; 

}

.celebration-image {
    width: 150px; 
    margin-bottom: 20px;
}

.colors-learned {
    font-size: 20px; 
    color: #3f3e3e; 
    margin: 20px 0; 
}

.colores {
    font-size: 40px;
    color: #008b8b;
    font-weight: bold;
    margin-bottom: 20px; 
}

.divider {
    border: 0;
    border-top: 1px solid #4b4242;
    margin: 20px 0; 
    width: 60%; 
}

.button-sectio {
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.restart-button, .next-lesson-button {
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 25px; 
    cursor: pointer;
    color: black;
    border: none;
    transition: background-color 0.3s ease;
}

.restart-button {
    background-color: #FFFF00; 
}

.restart-button:hover {
    background-color: #f8ec47; 
}

.next-lesson-button {
    background-color: #008b8b; /* Color azul para el botón siguiente */
}

.next-lesson-button:hover {
    background-color: #006767; 
}
.no-progress {
    display: none; 
}
.image-section {
    flex: 1;
    text-align: center;
    margin-left: 70px;
  }
  
  .image {
    max-width: 70%;
    width: 680px;
    height: 400px;
    display: block;
    margin: 0 auto;
  }
  