<header class="header">
  <img
    src="assets/img/logoazul.png"
    alt="EduSeñas Logo"
    class="logo logo-left"
  />
  <a [routerLink]="['/menu']" class="logo-link">
    <img src="assets/img/colores/X.png" alt="Cerrar" class="logo logo-right" />
  </a>
</header>
<br /><br /><br />
<main>
  <div class="container">
    <h2>Evaluacion <span *ngIf="letra != null">letra {{ letra }}</span></h2>
    <div class="row">
      <div class="col-md-6">
        <video autoplay playsinline #videoElement></video>
        <canvas #canvasElement width="200" height="200"></canvas>
      </div>
    </div>
    <!-- <div class="row">
      <input type="file" (change)="onFileSelected($event)" />
    </div> -->

    <div class="row">
      <div *ngIf="stream">
        <button class="btn btn-primary" (click)="onUpload()">Predecir</button>
      </div>
      <div *ngIf="!stream">
        <button class="btn btn-primary" (click)="reload()">Reintentar</button>
      </div>
    </div>

    <br />

    <div *ngIf="prediction">
      <h3>Resultado de la predicción</h3>
      <p>{{ prediction }}</p>
      <div class="percentage-bar">
        <div class="fill" [style.width.%]="percentage"></div>
      </div>
      <div class="text-center">
        <p class="porcen">{{ percentage }} %</p>
      </div>
    </div>

    <div *ngIf="error">
      <h3>Error</h3>
      <p>{{ error }}</p>
    </div>

    <div *ngIf="imageUrl">
      <h3></h3>
      <img
        [src]="imageUrl"
        alt="Imagen cargada"
        style="max-width: 50%; height: auto"
      />
    </div>
  </div>
</main>
<br />
