<div class="abc">
    <h1>Abecedario</h1>
    <a href="/menu" class="boton">
        <img src="../../assets/img/Regresar.png" alt="Botón de otra página">
    </a>
</div>
<div class="container">
    <div class="imagenes">
        <a href="/b">
            <img src="../../assets/abecedario_IMG/izq.png" alt="Imagen izquierda" class="imagen izquierda">
        </a>
        <div class="flip-container" >
            <div class="flipper">
                <div class="front">
                    <img src="../../assets/img/frontAbecedario/C_T.jpg" alt="Imagen frontal" class="imagen central">
                </div>
                <div class="back">
                    <img src="../../assets/videoimg_abecedario/abecedario/letrac.jpeg" alt="Imagen trasera" class="imagen central">
                </div>
            </div>
        </div>
        <a href="/d">
            <img src="../../assets/abecedario_IMG/der.png" alt="Imagen derecha" class="imagen derecha">
        </a>
    </div>
</div>
