<!-- Enlace a MaterializeCSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

<style>
  /* Contenedor principal */
  .container {
    margin-top: 40px;
    background-color: #f8f5f2;
    padding: 20px;
    border-radius: 10px;
  }

  /* Encabezado */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #293a4a;
    padding: 15px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* Botones de navegación en el encabezado */
  .nav-buttons a {
    color: white;
    margin: 0 10px;
    font-weight: bold;
  }

  .nav-buttons a.active {
    background-color: #dce2e8;
    color: #293a4a;
    border-radius: 5px;
    padding: 5px 15px;
  }

  /* Contenedor de la imagen del perfil */
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  .profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffa62b;
  }

  .profile-container .btn {
    margin-top: 20px;
    background-color: #293a4a;
  }

  /* Estilos para el formulario de perfil */
  .profile-form {
    margin-left: 40px;
  }

  .profile-form label {
    font-size: 14px;
    font-weight: bold;
  }

  .profile-form input[type="text"],
  .profile-form select {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
  }

  /* Estilo para el botón guardar */
  .btn-save {
    background-color: #ffca28;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
  }

  /* Ajuste responsivo */
  @media screen and (max-width: 600px) {
    .profile-form {
      margin-left: 0;
    }
  }
</style>

<!-- Contenedor principal -->
<div class="container">

  <!-- Encabezado de ajustes -->
  <div class="header">
    <h5>Ajustes</h5>
    <div class="nav-buttons">
      <a href="#perfil" class="active">Perfil</a>
      
    </div>
  </div>

  <!-- División principal del contenido -->
  <div class="row">
    <!-- Columna izquierda: Imagen de perfil -->
    <div class="col l4 s12 center-align">
      <div class="profile-container">
        <img src="https://via.placeholder.com/150" alt="Profile Image">
        <a class="btn waves-effect waves-light">Subir nueva foto</a>
      </div>
    </div>

    <!-- Columna derecha: Información del usuario -->
    <div class="col l8 s12">
      <form class="profile-form">
        <!-- Nombre de usuario -->
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" value="Elia Pedraza Castillo" disabled>

        <!-- Correo electrónico -->
        <label for="email">Correo electrónico</label>
        <input type="text" id="email" value="202031001060@utcv.edu.mx" disabled>

        <!-- Zona horaria -->
        <label for="timezone"></label>
        <select id="timezone">
          <option value="" disabled selected>Selecciona tu zona horaria</option>
          <option value="UTC-5">UTC - Hora del Este (EST)</option>
          <option value="UTC-6">UTC - Hora del Centro (CST)</option>
          <option value="UTC-7">UTC - Hora de la Montaña (MST)</option>
        </select>

        <!-- Mensaje de advertencia -->
        <p style="font-size: 12px; color: #666;">
        </p>

        <!-- Botón Guardar -->
        <button type="submit" class="btn btn- waves-effect waves-light">Guardar</button>
      </form>
    </div>
  </div>
</div>

<!-- Incluir Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
