.profile-container {
    text-align: center;
  }
  
  .circle-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .stat-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .stat-col {
    flex: 1;
    text-align: center;
  }
  /* Contenedor principal */
  .container {
    margin-top: 40px;
    background-color: #f8f5f2;
    padding: 20px;
    border-radius: 10px;
  }

  /* Encabezado */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #293a4a;
    padding: 15px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* Botones de navegación en el encabezado */
  .nav-buttons a {
    color: white;
    margin: 0 10px;
    font-weight: bold;
  }

  .nav-buttons a.active {
    background-color: #dce2e8;
    color: #293a4a;
    border-radius: 5px;
    padding: 5px 15px;
  }

  /* Contenedor de la imagen del perfil */
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  .profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffa62b;
  }

  .profile-container .btn {
    margin-top: 20px;
    background-color: #293a4a;
  }

  /* Estilos para el formulario de perfil */
  .profile-form {
    margin-left: 40px;
  }

  .profile-form label {
    font-size: 14px;
    font-weight: bold;
  }

  .profile-form input[type="text"],
  .profile-form select {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
  }

  /* Estilo para el botón guardar */
  .btn-save {
    background-color: #ffca28;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
  }
  /* Ajuste responsivo */
  @media screen and (max-width: 600px) {
    .profile-form {
      margin-left: 0;
    }
  }
  