   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 contenido1">
            <a href="/menu">
                <img src="../../assets/img/logoazul2.png" class="logo-1" alt="eduSeñas">
            </a>
        </div>
        <div class="col-sm-9">
            <app-search-bar></app-search-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="word-cards">
                <div class="card-container">
                    <div class="card-front">A</div>
                    <div class="card-back">
                        <a href="/a">
                            <img src="../../assets/videoimg_abecedario/abecedario/letraa.jpeg" alt="A" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">B</div>
                    <div class="card-back">
                        <a href="/b">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrab.jpeg" alt="B" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">C</div>
                    <div class="card-back">
                        <a href="/c">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrac.jpeg" alt="C" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">D</div>
                    <div class="card-back">
                        <a href="/d">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrad.jpeg" alt="D" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">E</div>
                    <div class="card-back">
                        <a href="/e">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrae.jpeg" alt="E" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">F</div>
                    <div class="card-back">
                        <a href="/f">
                            <img src="../../assets/videoimg_abecedario/abecedario/letraf.jpeg" alt="F" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">G</div>
                    <div class="card-back">
                        <a href="/g">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrag.jpeg" alt="G" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">H</div>
                    <div class="card-back">
                        <a href="/h">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrah.jpeg" alt="H" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">I</div>
                    <div class="card-back">
                        <a href="/i">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrai.jpeg" alt="I" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">J</div>
                    <div class="card-back">
                        <a href="/j">
                            <video src="../../assets/videoimg_abecedario/abecedario/letraj.mp4" alt="J" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">K</div>
                    <div class="card-back">
                        <a href="/k">
                            <video src="../../assets/videoimg_abecedario/abecedario/letrak.mp4" alt="K" class="img-1"></video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">L</div>
                    <div class="card-back">
                        <a href="/l">
                            <img src="../../assets/videoimg_abecedario/abecedario/letral.jpeg" alt="L" class="img-1">
                        </a>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-front">LL</div>
                    <div class="card-back">
                        <a href="/ll">
                            <video src="../../assets/videoimg_abecedario/abecedario/letrall.mp4" alt="LL" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">M</div>
                    <div class="card-back">
                        <a href="/m">
                            <img src="../../assets/videoimg_abecedario/abecedario/letram.jpeg" alt="M" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">N</div>
                    <div class="card-back">
                        <a href="/n">
                            <img src="../../assets/videoimg_abecedario/abecedario/letran.jpeg" alt="N" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">O</div>
                    <div class="card-back">
                        <a href="/o">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrao.jpeg" alt="O" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">P</div>
                    <div class="card-back">
                        <a href="/p">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrap.jpeg" alt="P" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Q</div>
                    <div class="card-back">
                        <a href="/q">
                            <video src="../../assets/videoimg_abecedario/abecedario/letraq.mp4" alt="Q" class="img-1"></video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">R</div>
                    <div class="card-back">
                        <a href="/r">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrar.jpeg" alt="R" class="img-1">
                        </a>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-front">RR</div>
                    <div class="card-back">
                        <a href="/rr">
                            <video src="../../assets/videoimg_abecedario/abecedario/letrarr.jpeg" alt="RR" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">S</div>
                    <div class="card-back">
                        <a href="/s">
                            <img src="../../assets/videoimg_abecedario/abecedario/letras.jpeg" alt="S" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">T</div>
                    <div class="card-back">
                        <a href="/t">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrat.jpeg" alt="T" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">U</div>
                    <div class="card-back">
                        <a href="/u">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrau.jpeg" alt="U" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">V</div>
                    <div class="card-back">
                        <a href="/v">
                            <img src="../../assets/videoimg_abecedario/abecedario/letrav.jpeg" alt="V" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">W</div>
                    <div class="card-back">
                        <a href="/w">
                            <img src="../../assets/videoimg_abecedario/abecedario/letraw.jpeg" alt="W" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">X</div>
                    <div class="card-back">
                        <a href="/x">
                            <video src="../../assets/videoimg_abecedario/abecedario/letrax.mp4" alt="X" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Y</div>
                    <div class="card-back">
                        <a href="/y">
                            <img src="../../assets/videoimg_abecedario/abecedario/letray.jpeg" alt="Y" class="img-1">
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Z</div>
                    <div class="card-back">
                        <a href="/z">
                            <video src="../../assets/videoimg_abecedario/abecedario/letraz.mp4" alt="Z" class="img-1"> </video>
                        </a>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card-front">Hermana</div>
                    <div class="card-back">
                        <a href="/hermana">
                            <video src="../../assets/videoimg_abecedario/familia/hermana.mp4" alt="Hermana" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Hermano</div>
                    <div class="card-back">
                        <a href="/hermano">
                            <video src="../../assets/videoimg_abecedario/familia/hermano.mp4" alt="Hermano" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Hija</div>
                    <div class="card-back">
                        <a href="/hija">
                           <video src="../../assets/videoimg_abecedario/familia/hija.mp4" alt="Hija" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Hijo</div>
                    <div class="card-back">
                        <a href="/hijo">
                           <video src="../../assets/videoimg_abecedario/familia/hijo.mp4" alt="Hijo" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Mamá</div>
                    <div class="card-back">
                        <a href="/mama">
                            <video src="../../assets/videoimg_abecedario/familia/mama.mp4" alt="Mamá" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Papá</div>
                    <div class="card-back">
                        <a href="/papa">
                            <video src="../../assets/videoimg_abecedario/familia/papa.mp4" alt="Papá" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Tía</div>
                    <div class="card-back">
                        <a href="/tia">
                            <video src="../../assets/videoimg_abecedario/familia/tia.mp4" alt="Tía" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Tío</div>
                    <div class="card-back">
                        <a href="/tio">
                            <video src="../../assets/videoimg_abecedario/familia/tio.mp4" alt="Tío" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Cuándo?</div>
                    <div class="card-back">
                        <a href="/cuando">
                            <video src="../../assets/videoimg_abecedario/cuestionamientos/CUANDO_C.mp4" alt="¿Cuándo?" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Cuál?</div>
                    <div class="card-back">
                        <a href="/cual">
                            <video src="../../assets/videoimg_abecedario/cuestionamientos/CUAL_C.mp4" alt="¿Cuál?" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Cómo?</div>
                    <div class="card-back">
                        <a href="/como">
                            <video src="../../assets/videoimg_abecedario/cuestionamientos/COMO_C.mp4" alt="¿Cómo?" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Qué es?</div>
                    <div class="card-back">
                        <a href="/quees">
                            <video src="../../assets/videoimg_abecedario/cuestionamientos/QUEES_C.mp4" alt="¿Qué es?" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Quién?</div>
                    <div class="card-back">
                        <a href="/quien">
                          <video src="../../assets/videoimg_abecedario/cuestionamientos/QUIEN_C.mp4" alt="¿Quién?" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Dónde?</div>
                    <div class="card-back">
                        <a href="/donde">
                          <video src="../../assets/videoimg_abecedario/cuestionamientos/donde.mp4" alt="¿Dónde?" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">¿Por qué?</div>
                    <div class="card-back">
                        <a href="/porque">
                            <video src="../../assets/videoimg_abecedario/cuestionamientos/porque.mp4" alt="¿Por qué?" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Enero</div>
                    <div class="card-back">
                        <a href="/enero">
                            <video src="../../assets/videoimg_abecedario/meses/enero.mp4" alt="Enero" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Febrero</div>
                    <div class="card-back">
                        <a href="/febrero">
                            <video src="../../assets/videoimg_abecedario/meses/febrero.mp4" alt="Febrero" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Marzo</div>
                    <div class="card-back">
                        <a href="/marzo">
                            <video src="../../assets/videoimg_abecedario/meses/marzo.mp4" alt="Marzo" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Abril</div>
                    <div class="card-back">
                        <a href="/abril">
                            <video src="../../assets/videoimg_abecedario/meses/abril.mp4" alt="Abril" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Mayo</div>
                    <div class="card-back">
                        <a href="/mayo">
                            <video src="../../assets/videoimg_abecedario/meses/mayo.mp4" alt="Mayo" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Junio</div>
                    <div class="card-back">
                        <a href="/junio">
                            <video src="../../assets/videoimg_abecedario/meses/junio.mp4" alt="Junio" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Julio</div>
                    <div class="card-back">
                        <a href="/julio">
                        <video src="../../assets/videoimg_abecedario/meses/julio.mp4" alt="Julio" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Agosto</div>
                    <div class="card-back">
                        <a href="/agosto">
                        <video src="../../assets/videoimg_abecedario/meses/agosto.mp4" alt="Agosto" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Septiembre</div>
                    <div class="card-back">
                        <a href="/septiembre">
                        <video src="../../assets/videoimg_abecedario/meses/septiembre.mp4" alt="Septiembre" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Octubre</div>
                    <div class="card-back">
                        <a href="/octubre">
                           <video src="../../assets/videoimg_abecedario/meses/octubre.mp4" alt="Octubre" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Noviembre</div>
                    <div class="card-back">
                        <a href="/noviembre">
                            <video src="../../assets/videoimg_abecedario/meses/noviembre.mp4" alt="Noviembre" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Diciembre</div>
                    <div class="card-back">
                        <a href="/diciembre">
                            <video src="../../assets/videoimg_abecedario/meses/diciembre.mp4" alt="Diciembre" class="img-1"> </video>
                        </a>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card-front">Amarillo</div>
                    <div class="card-back">
                        <a href="/amarillo">
                            <video src="../../assets/videoimg_abecedario/colores/amarillo.mp4" alt="Amarillo" class="img-1"> </video>                
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Azul</div>
                    <div class="card-back">
                        <a href="/azul">
                            <video src="../../assets/videoimg_abecedario/colores/azul.mp4" alt="Azul" class="img-1"> </video> 
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Blanco</div>
                    <div class="card-back">
                        <a href="/blanco">
                            <video src="../../assets/videoimg_abecedario/colores/blanco.mp4" alt="Blanco" class="img-1"> </video> 
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Gris</div>
                    <div class="card-back">
                        <a href="/gris">
                            <video src="../../assets/videoimg_abecedario/colores/gris.mp4" alt="Gris" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Morado</div>
                    <div class="card-back">
                        <a href="/morado">
                            <video src="../../assets/videoimg_abecedario/colores/morado.mp4" alt="Morado" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Naranja</div>
                    <div class="card-back">
                        <a href="/naranja">
                            <video src="../../assets/videoimg_abecedario/colores/naranja.mp4" alt="Naranja" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Negro</div>
                    <div class="card-back">
                        <a href="/negro">
                            <video src="../../assets/videoimg_abecedario/colores/negro.mp4" alt="Negro" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Rojo</div>
                    <div class="card-back">
                        <a href="/rojo">
                            <video src="../../assets/videoimg_abecedario/colores/rojo.mp4" alt="Rojo" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Rosa</div>
                    <div class="card-back">
                        <a href="/rosa">
                            <video src="../../assets/videoimg_abecedario/colores/rosa.mp4" alt="Rosa" class="img-1"> </video>
                        </a>
                    </div>
                </div>
                
                <div class="card-container">
                    <div class="card-front">Verde</div>
                    <div class="card-back">
                        <a href="/verde">
                            <video src="../../assets/videoimg_abecedario/colores/verde.mp4" alt="Verde" class="img-1"> </video>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    
//     document.addEventListener('DOMContentLoaded', function() {
//     var elems = document.querySelectorAll('.collapsible');
//     var instances = M.Collapsible.init(elems, options);
//   });

</script>

    

