/* Estilos generales del cuerpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #f8f9fa; /* Color de fondo gris claro */
  padding: 20px;
}




/* Estilos para el encabezado */
.header {
  position: fixed;
  top: 0;
  width: 150%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  margin-left: -15px;
}

/* Estilos para el logo */
.logo {
  margin-top: -40px;
  margin-left: 35px;
}

/* Estilos para el acordeón */
.accordion-item {
  background-color: transparent; /* Sin fondo para el acordeón dentro de la tarjeta */
  border: none; /* Sin borde para el acordeón */
}

.accordion-button {
  background-color: transparent; /* Sin fondo para el botón */
  border: none; /* Sin borde para el botón */
  padding: 0; /* Sin relleno para el botón */
}

.accordion-button::after {
  content: ''; /* O el contenido actual del ícono */
  display: none; /* Oculta el pseudo-elemento del ícono */
}

.accordion-button img {
  width: 100%; /* Ajusta el tamaño de la imagen para que ocupe el ancho completo */
  height: auto; /* Mantiene la proporción de la imagen */
}

.accordion-header {
  text-align: center; /* Centra el texto debajo de la imagen */
}

.accordion-body {
  background-color: #027ea1; /* Fondo azul para el cuerpo del acordeón */
  color: white; /* Texto blanco */
  text-align: center;
}

.accordion-body a {
  text-decoration: none; /* Sin subrayado para los enlaces */
}

/* Estilos para las tarjetas */
.card {
  border: 1px solid #ddd; /* Borde para la tarjeta */
  border-radius: 0.25rem; /* Bordes redondeados para la tarjeta */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para la tarjeta */
  margin-bottom: 15px; /* Espacio entre las tarjetas */
  max-width: 90%; /* Ancho máximo reducido */
  transition: box-shadow 0.3s ease-in-out; /* Transición suave para la sombra */
  margin-left: 30px;
  margin-top: 26px;
}

.card img {
  display: block; /* Asegura que la imagen se muestre como bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  width: 70%; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Ajusta la posición de la imagen hacia la izquierda */
.card img {
  margin-left: 15%; /* Ajusta el margen izquierdo para mover la imagen a la izquierda */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.573); /* Sombra más prominente al pasar el ratón */
}

/* Estilos para el encabezado de la tarjeta */
.card-header {
  background-color: transparent; /* Fondo transparente para el encabezado de la tarjeta */
  border-bottom: none; /* Sin borde inferior para el encabezado de la tarjeta */
  padding: 0.5rem; /* Ajuste del padding */
}

.card-title {
  margin-top: 10px; /* Espacio entre la imagen y el texto */
  color: #027ea1; /* Color del texto */
  font-family: League Spartan; /* Fuente personalizada */
}

/* Estilos para el contenedor principal */
.container {
  padding-top: 100px; /* Para ajustar el contenido debajo del header */
  margin-top: -90px; /* Ajuste del margen superior */
}

/* Estilos para el título de lecciones */
.titulo-lecciones {
  text-align: center;
  margin-top: 80px;
}

h1 {
  font-family: League Spartan; /* Fuente personalizada */
  font-size: 35px;
  color: #027ea1;
  font-weight: bold;
  margin-top: 90px;
}
.titulo-lecciones{
  margin-top: 120px;
  
}
.text-white1{
  font-weight: bold;
  color: #f8f9fa;
}
/* Estilo para el fondo gris del offcanvas-body */
.offcanvas-body {
  background-color: #f0f0f0; /* Gris claro */
}

/* Estilo para el botón de cierre más grande */
.offcanvas-header .btn-close {
  font-size: 1.5rem; /* Ajusta el tamaño del icono de cierre */
}

/* Estilo para los iconos más pequeños */
.offcanvas-body .nav-link img {
  width: 65px; /* Ajusta el tamaño del icono */
  height: auto; /* Mantiene la proporción */
}

/* Estilo para el texto en negrita en los enlaces del menú */
.offcanvas-body .nav-link {
  font-size: 1.1rem; /* Tamaño de fuente ligeramente más grande para el texto */
  font-weight: bold; /* Texto en negrita */
  display: flex; /* Usa flexbox para alinear ícono y texto */
  align-items: center; /* Alinea verticalmente el ícono y el texto */
  gap: 20px; /* Espacio entre el ícono y el texto */
}

/* Estilo para resaltar los enlaces al pasar el mouse */
.offcanvas-body .nav-link:hover {
  background-color: #d0d0d0; /* Gris un poco más fuerte */
  border-radius: 0.25rem; /* Bordes redondeados opcionales */
  padding: 10px; /* Ajusta el padding si es necesario */
}
.offcanvas-header{
  background-color: #f0f0f0; /* Gris claro */

}